<ion-view view-title="Say Hi To World {{myProfile.name}}" hide-back-button="true">

  <ion-nav-buttons side="right">
    <button class="button button-balanced" ng-click="logout()">logout</button>
  </ion-nav-buttons>

  <ion-content overflow-scroll="false">
    <div class="list card" style="overflow: visible">

      <div class="item item-avatar">
        <img ng-if="myProfile.profileImageURL" ng-src="{{myProfile.profileImageURL}}">

        <h2 ng-if="myProfile.name" ng-bind="myProfile.name"></h2>

        <p ng-show="myProfile.joined">joined: {{myProfile.joined | date}}</p>

      </div>

      <div class="item item-body">
        <!--<img class="full-image" ng-src="{{}}">-->
        <!--///////fb like button code start/////////-->

        <div class="fb-like"
             data-href="https://www.facebook.com/inzichat"
             data-layout="button"
             data-action="like"
             data-show-faces="false"
             data-share="true">
        </div>
        <!--///////fb like button code start/////////-->


        <p>
          Message From <a href="http://facebook.com/malikasinger">Inzamam</a>: <br><br>
          Welcome to the App guys hit Like and Share with your friends<br>
          very soon i'll release build for your Android and iOS phones<br><br>
          if you notice bug or you have a suggestion you can<br> <a href="mailto:malikasinger@gmail.com">report here</a>
        </p>

        <p>

          <!--<a href="#" class="subdued">1 Like</a>-->
          <!--<a href="#" class="subdued">5 Comments</a>-->
        </p>
      </div>

    </div>

    <!--<button class="button button-balanced" ui-sref="inbox">inbox</button>-->


    <ion-list ng-if="notificationList.length">
      <ion-item class="item-divider">New Message</ion-item>


      <ion-item class=" item-avatar item-icon-right"
                ng-repeat="user in notificationList"
                type="item-text-wrap"
                href="#/inbox{{user.uid}}">


        <img ng-if="user.profileImageURL" ng-src="{{user.profileImageURL}}">

        <h2>{{user.name}}</h2>

        <p>{{user.lastText}}</p>
        <i class="right badge badge-assertive">{{user.count}}</i>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(user)">
          Delete
        </ion-option-button>
      </ion-item>

    </ion-list>


    <ion-list>


      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="search">
      </label>


      <ion-item class="item-remove-animate item-avatar item-icon-right"
                ng-repeat="user in userlist | filter:search | orderBy:  ['loggedIn.status','-loggedIn.lastActive'] "
                ng-hide=""
                type="item-text-wrap"
                href="#/inbox{{user.uid}}">


        <img ng-if="user.profileImageURL" ng-src="{{user.profileImageURL}}">

        <h2>{{user.name}}</h2>

        <p style="color: green" ng-show="user.loggedIn.status">online </p>

        <p style="color: rgba(0, 0, 0, 0.4)" ng-show="!user.loggedIn.status"
           ng-bind="user.loggedIn.lastActive | date : 'MMM d, h:mm a'"></p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(user)">
          Delete
        </ion-option-button>
      </ion-item>


    </ion-list>


  </ion-content>
</ion-view>
