<ion-view view-title="Order NOw For Food and Drink">

  <ion-nav-buttons side="primary">

  </ion-nav-buttons>

  <ion-content>

    <br>


    <div align="center" class="">
      <img src="img/logo.jpg" alt="" width="160px" class="circle"><br>
      <p class="lowOpacity">Place your order in unique</p>
    </div>
    <br>

    <div class="row padding">


      <div class="col-33"></div>

      <button class="button button-positive  col col-33 " ng-click="authWithFacebook()">
        <i class="icon ion-social-facebook"></i>
        Facebook
      </button>
      <div class="col-33"></div>
<!--
      <button class="button button-calm  col col-33 " ng-click="authWithTwitter()">
        <i class="icon ion-social-twitter"></i>
        Twitter
      </button>

      <button class="button button-assertive col col-33 " ng-click="authWithGoogle()">
        <i class="icon ion-social-google"></i>Google
      </button>-->
    </div>


  </ion-content>
</ion-view>
